* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(239, 168, 169);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}
header h1 {
  color: white;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 1.5%;
  animation-name: titulo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  transition: 2s;
}
@keyframes titulo {
  from {
    color: white;
  }
  to {
    color: #e5248e;
  }
}
header a {
  color: #e5248e;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 10px;
}
header .logo {
  margin: 1%;
  width: 100px;
  height: auto;
  background-color: rgb(249, 202, 202);
}

main {
  color: #e5248e;
}

.footer {
  background-color: rgb(239, 168, 169);
}
.footer a {
  color: #e5248e;
  background-color: rgb(239, 168, 169);
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 4px 0;
}
.footer p {
  color: #e5248e;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 2px 0;
  padding-left: 1%;
}
.footer .cursiva, .footer .cursiva2 {
  color: #e5248e;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.98rem;
  font-style: italic;
  text-align: center;
  padding-left: 65%;
  margin: 0%;
  line-height: 1.2;
}

main .parrafo1 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .parrafo5 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1rem;
  margin-left: 3%;
  margin-right: 3%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .parrafo6 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1rem;
  margin-left: 3%;
  margin-right: 3%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .parrafo7 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1rem;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .parrafo8 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1rem;
  margin-left: 3%;
  margin-right: 3%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .carousel {
  background-color: rgb(249, 202, 202);
}
main .carousel .carousel-item img {
  margin: 0 auto;
  justify-content: center;
}
main .carousel4 {
  display: none;
}
main .redes a img.logowhatsapp {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}
main a img.logoinstagram {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}

@media (max-width: 480px) {
  main .redes a img.logowhatsapp {
    padding-left: 0%;
    width: 21px;
  }
  .redes a img.logoinstagram {
    padding-left: 0%;
    width: 22px;
  }
  main .carousel4 {
    display: block;
    width: 90%;
    height: auto;
    margin: 0% auto;
  }
}
main .parrafo2 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .horarios {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .mapa {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
}
main .mapa iframe {
  width: 100%;
  height: 400px;
  display: block;
}

.redes a img.logowhatsapp {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}

a img.logoinstagram {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}

@media (max-width: 480px) {
  main .parrafo2 {
    font-size: 1.1rem;
  }
  .redes a img.logowhatsapp {
    padding-left: 0%;
    width: 21px;
  }
  .redes a img.logoinstagram {
    padding-left: 0%;
    width: 22px;
  }
  .horarios {
    padding: 0 15px;
  }
  .horarios p {
    font-size: 1rem;
    margin-bottom: 6px;
  }
  .mapa {
    width: 90%;
    margin: 10px auto;
  }
  .mapa iframe {
    height: 220px;
  }
}
main .parrafo3 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main section.catalogo {
  text-align: center;
}
main section.catalogo article.productos h3 {
  background-color: rgb(249, 202, 202);
  margin: 1%;
  font-size: 1.875rem;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main section.catalogo article.productos img {
  width: 500px;
  height: auto;
  text-align: center;
}

.redes a img.logowhatsapp {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}

a img.logoinstagram {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}

@media (max-width: 480px) {
  main .parrafo3 {
    font-size: 1.1rem;
  }
  .redes a img.logowhatsapp {
    padding-left: 0%;
    width: 21px;
  }
  .redes a img.logoinstagram {
    padding-left: 0%;
    width: 22px;
  }
  main section.productos article.productos h3 {
    background-color: rgb(249, 202, 202);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  main section.productos article.productos img {
    width: 90%;
    height: auto;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
main .info-envios h2 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.8rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .info-envios p {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .accordion .accordion-button,
main .accordion .accordion-button:not(.collapsed),
main .accordion .accordion-body {
  color: #e5248e;
}
main .accordion {
  margin: 1%;
}
main .condiciones h2 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.8rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main .condiciones ul {
  background-color: rgb(249, 202, 202);
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  list-style: none;
  padding-left: 1%;
}
main .parrafo4 {
  background-color: rgb(249, 202, 202);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.redes a img.logowhatsapp {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}

a img.logoinstagram {
  width: 32px;
  height: auto;
  padding-left: 1%;
  background-color: rgb(239, 168, 169);
}

@media (max-width: 480px) {
  main .info-envios h2 {
    font-size: 1.1rem;
  }
  main .info-envios p {
    font-size: 1rem;
    margin-left: 0%;
    margin-right: 0%;
  }
  main .condiciones h2 {
    font-size: 1.1rem;
  }
  main .condiciones ul {
    font-size: 1rem;
    margin: 12px;
  }
  main .accordion {
    width: 85%;
    margin: 0 auto;
  }
  main .parrafo4 {
    font-size: 1.1rem;
    margin-left: 3%;
    margin-right: 3%;
  }
  .redes a img.logowhatsapp {
    padding-left: 0%;
    width: 21px;
  }
  .redes a img.logoinstagram {
    padding-left: 0%;
    width: 22px;
  }
  main .info-envios p {
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media (max-width: 480px) {
  header {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  header h1 {
    font-size: 1.75rem;
    padding-left: 1%;
    margin-bottom: 5px;
  }
  header .logo {
    width: 70px;
    margin: 3px;
  }
  header nav a {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.125rem;
    margin: 5px 0;
  }
  .carousel {
    display: none;
  }
  .productos img {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
  }
  .footer {
    text-align: center;
  }
  .footer p {
    font-size: 1rem;
    padding-left: 0;
  }
  .footer a {
    font-size: 0.95rem;
  }
  .footer .cursiva {
    font-size: 0.8rem;
    padding-left: 0;
    text-align: center;
    margin-top: 10px;
  }
  .footer .cursiva2 {
    font-size: 0.8rem;
    padding-left: 0;
    text-align: center;
    margin-top: 2px;
  }
}

/*# sourceMappingURL=estilos.css.map */
