@use "./variables" as*;

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: $rosa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 1%;

    h1 {
        color: $blanco;
        font-size: 2.5rem;
        font-family: $fonth1;
        font-weight: bold;
        padding-left: 3%;
        animation-name: titulo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 3s;
        transition: 2s;
    }

    @keyframes titulo {
        from {
        color: $blanco;
        }
        to {
        color: $fucsia;
        }
    }

    a {
        color: $fucsia;
        font-size: 1.5rem;
        font-family: $fontp;
        margin: 10px;
    }

    .logo {
        margin: 1%;
        width: 150px;
        height: auto;
        background-color: $rosa;
    }
}

main {
    color: $fucsia;
}

.footer {
    margin: 1%;
    background-color: $rosa;
        a {
        color: $fucsia;
        font-size: 1.2rem;
        font-family: $fontp;
        margin: 4px 0;
    }
        p {
        color: $fucsia;
        font-size: 1.5rem;
        font-family: $fontp;
        margin: 2px 0;
        padding-left: 1%;
    }
        .cursiva, .cursiva2 {
        color: $fucsia;
        font-family: $fontf;
        font-size: 0.98rem; 
        font-style: italic;
        text-align: center;
        padding-left: 65%;
        margin: 0%;
        line-height: 1.2;
        }

}


