$rosa:  rgb(249, 202, 202);
$fucsia: #e5248e;
$blanco: white;

$fonth1: Arial, Helvetica, sans-serif;
$fontp: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

