@use "../partials/variables" as*;

main {

    .parrafo3 {
        background-color: $rosa;
        text-align: center;
        font-size: 1.4rem;
        font-family: $fontp;
    }

    section.catalogo {
        text-align: center;

        article.productos {

        h3 {
        background-color: $rosa;
        margin: 1%;
        font-size: 1.875rem; 
        margin-left: 20%;
        margin-right: 20%;
        font-family: $fontp;
        }

        img {
        width: 500px;
        height: auto;
        text-align: center;
        }
        }
    }
}

.redes {
    a {
        img.logowhatsapp {
        width: 32px;
        height: auto;
        padding-left: 1%;
        background-color: $rosahf;
        }
    }
}

a {
    img.logoinstagram {
        width: 32px;
        height: auto;
        padding-left: 1%;
        background-color: $rosahf;
    }
}

@media (max-width: 480px) {

main .parrafo3 {
    font-size: 1.1rem;
}

.redes a img.logowhatsapp {
    padding-left: 0%;
    width: 28px;
}

.redes a img.logoinstagram {
    padding-left: 0%;
}

main section.productos article.productos h3 {
    background-color: $rosa;
    font-family: $fontp;
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

main section.productos article.productos img {
    width: 90%;
    height: auto;
    text-align: center;
}

}

@media (min-width: 1024px) {

.catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

}

