@use "../partials/variables" as*;

main {

    .parrafo3 {
        background-color: $rosa;
        text-align: center;
        margin-left: 13%;
        margin-right: 13%;
        font-size: 1.4rem;
        font-family: $fontp;
    }

    section.productos {
        text-align: center;

        article.productos {

        h3 {
        background-color: $rosa;
        margin: 1%;
        font-size: 1.875rem; 
        padding-left: 1%;
        margin-left: 20%;
        margin-right: 20%;
        font-family: $fontp;
        }

        img {
        width: 500px;
        height: auto;
        text-align: center;
        }
        }
    }
}

.redes {
    a {
        img.logowhatsapp {
        width: 26px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa;
        }
    }
}

a {
    img.logoinstagram {
        width: 26px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa;
    }
}

@media (max-width: 480px) {

main .parrafo3 {
    font-size: 1.1rem;
}

main section.productos article.productos h3 {
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

main section.productos article.productos img {
    width: 90%;
    height: auto;
}

main .redes .a .img.logowhatsapp {
    width: 18px;
    height: auto;
}

main .redes .a .img.logoinstagram {
    width: 18px;
    height: auto;
}

}


