@use "../partials/variables" as*;

main {

    .accordion {
        .accordion-button,
        .accordion-button:not(.collapsed),
        .accordion-body {
    color: $fucsia;
}
    margin: 1%;
}

    .parrafo4 {
        background-color: $rosa;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.5rem;
    }
}

.redes {
    a {
        img.logo-whatsapp {
        width: 45px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa;
        }
    }
}

a {
    img.logo-instagram {
        width: 45px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa;
    }
}