@use "../partials/variables" as*;

main {

    .info-envios{
        h2 {
        background-color: $rosa;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.8rem;
        font-family: $fontp;
    }
        p{
        background-color: $rosa;
        text-align: center;
        font-size: 1.2rem;
        font-family: $fontp;
        }
    }

    .accordion {
        .accordion-button,
        .accordion-button:not(.collapsed),
        .accordion-body {
    color: $fucsia;
}
    margin: 1%;
}

    .condiciones{
        h2{
        background-color: $rosa;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.8rem;
        font-family: $fontp;
        }
        ul li{
        background-color: $rosa;
        font-size: 1rem;
        }
    }

    .parrafo4 {
        background-color: $rosa;
        text-align: center;
        font-size: 1.2rem;
        font-family: $fontp;
    }
}

.redes {
    a {
        img.logowhatsapp {
        width: 26px;
        height: auto;
        padding-left: 1%;
        background-color: $rosahf;
        }
    }
}

a {
    img.logoinstagram {
        width: 26px;
        height: auto;
        padding-left: 1%;
        background-color: $rosahf;
    }
}

@media (max-width: 480px) {

main .accordion {
    width: 85%;
    margin: 0 auto;
}

main .parrafo4 {
    font-size: 1.1rem;
    margin-left: 3%;
    margin-right: 3%;
}

.redes a img.logowhatsapp {
    padding-left: 0%;
    width: 24px;
}

.redes a img.logoinstagram {
    padding-left: 0%;
}

main .info-envios p{
    margin-left: 3%;
    margin-right: 3%;
}

}