@use "../partials/variables" as*;

main {

    .parrafo1 {
        background-color: $rosa;
        text-align: center;
        font-size: 1.5rem;
    }

    #carouselExample {
    margin-left: 5%;
    margin-right: 5%;
    }

    .carousel-item {
    img {
    display: block;   
    margin: 0 auto;   
    }

    }

    .carousel4 {
        display: none;
    }

    .redes {
        a {
        img.logo-whatsapp {
        width: 45px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa;
        }
        }
    }

    a {
        img.logo-instagram {
        width: 45px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa; 
        }
    }
}