@use "../partials/variables" as*;

main {

    .parrafo1 {
        background-color: $rosa;
        text-align: center;
        font-size: 1.2rem;
        margin-left: 3%;
        margin-right: 3%;
        font-family: $fontp;
    }

    .parrafo5 {
        background-color: $rosa;
        text-align: center;
        font-size: 1rem;
        margin-left: 3%;
        margin-right: 3%;
        font-family: $fontp;
    }

    .parrafo6 {
        background-color: $rosa;
        text-align: center;
        font-size: 1rem;
        margin-left: 3%;
        margin-right: 3%;
        font-family: $fontp;
    }

    .parrafo7 {
        background-color: $rosa;
        text-align: center;
        font-size: 1rem;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        font-family: $fontp;
    }

    .parrafo8 {
        background-color: $rosa;
        text-align: center;
        font-size: 1rem;
        margin-left: 3%;
        margin-right: 3%;
        font-family: $fontp;
    }

    .carousel {
    margin-left: 5%;
    margin-right: 5%;
    background-color: $rosa;
        .carousel-item {
    img {   
    margin: 0 auto;
    justify-content: center;
    }
    }

    }

    .carousel4 {
        display: none;
    }

    .redes {
        a {
        img.logo-whatsapp {
        width: 45px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa;
        }
        }
    }

    a {
        img.logo-instagram {
        width: 45px;
        height: auto;
        padding-left: 1%;
        background-color: $rosa; 
        }
    }
}

@media (max-width: 480px) {

main {
    .carousel4 {
    display: block;
    width: 90%;
    height: auto;
    margin: 0% auto;
}
}

main .redes a img.logo-whatsapp {
    width: 30px;
    height: auto;
}

main .redes a img.logo-instagram {
    width: 30px;
    height: auto;
}

}