* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(249, 202, 202);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 100;
    margin: 1%;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 3%;
}

h3 {
    background-color: rgb(249, 202, 202);
    margin: 1%;
    font-size: 30px;
    padding-left: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

a {
    color: #e5248e;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: #e5248e;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2%;
}

main {
    color: #e5248e
}

.logo {
    margin: 1%;
    width: 150px;
    height: auto;
    background-color: rgb(249, 202, 202);
}

.logowhatsapp{
    width: 26px;
    height: auto;
    padding-left: 1%;
    background-color: rgb(249, 202, 202);
}

.logoinstagram{
    width: 26px;
    height: auto;
    padding-left: 1%;
    background-color: rgb(249, 202, 202);
}

.logo-whatsapp{
    width: 45px;
    height: auto;
    padding-left: 1%;
    background-color: rgb(249, 202, 202);
}

.logo-instagram{
    width: 45px;
    height: auto;
    padding-left: 1%;
    background-color: rgb(249, 202, 202);
}

.productos img {
    text-align: center;
    width: 500px;
    height: auto;
}

.productos {
    text-align: center;
}

.carousel-item {
    background-color: rgb(249, 202, 202);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 33%;
}

.carousel {
    margin-left: 5%;
    margin-right: 5%;
}

.accordion-accordion-flush {
    margin: 1%;
}

.accordion-item {
    padding-left: 3%;
}

.accordion-flush .accordion-button {
    color: #e5248e;
}

.accordion-body {
    color: #e5248e;
}

.horarios {
    background-color: rgb(249, 202, 202);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.parrafo1 {
    background-color: rgb(249, 202, 202);
    text-align: center;
}

.parrafo2 {
    background-color: rgb(249, 202, 202);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.parrafo3 {
    background-color: rgb(249, 202, 202);
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
}

.parrafo4 {
    background-color: rgb(249, 202, 202);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.mapa {
    text-align: center;
}

footer {
    margin: 1%;
}

.footer {
    background-color: rgb(249, 202, 202)
}

nav a {
    margin: 10px;
}

.carusel4 {
    display: none;
}

@media (max-width: 480px) {
    header {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 80px;
        margin: 5px;
    }

    h1 {
        font-size: 28px;
        padding-left: 1%;
        margin-bottom: 5px;
    }

    nav a {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 18px;
        margin: 5px 0;
    }

    .carousel {
        display: none;
    }

    .carusel4 {
        display: block;
        text-align: center;
        width: 90%;
        max-width: 300px;
        margin: 10px auto;

    }

    .productos img {
        width: 90%;
        max-width: 300px;
        margin: 10px auto;
    }

}